@import 'now-ui-kit/variables';
@import 'now-ui-kit/mixins';
@import 'tkot/roboto-condensed';
@import 'tkot/open-sans';

$tkot-primary-blue: #211C5F;
$tkot-primary-red: #A32222;
$tkot-secondary-color-grey: #919396;
$tkot-secondary-color-black: #000000;
$tkot-bg-color: $tkot-primary-blue;
$tkot-bg-color-transparent: transparent;
$tkot-bg-color-white: #FFFFFF;
$tkot-padding-top: 3rem;
$tkot-page-header-30-vh: 30vh;
// $tkot-page-header-45-vh: 45vh;
$tkot-page-header-50-vh: 50vh;

.tkot-primary-blue-bg-color {
  background-color: $tkot-primary-blue;
}
.tkot-primary-red-bg-color {
  background-color: $tkot-primary-red;
}
.tkot-secondary-color-grey-bg-color {
  background-color: $tkot-secondary-color-grey;
}
.tkot-secondary-color-black-bg-color {
  background-color: $tkot-secondary-color-black;
}
.tkot-primary-blue-color {
  color: $tkot-primary-blue;
}
.tkot-primary-red-color {
  color: $tkot-primary-red;
}
.tkot-secondary-color-grey-color {
  color: $tkot-secondary-color-grey;
}
.tkot-secondary-color-black-color {
  color: $tkot-secondary-color-black;
}

// .tkot-section:first-child {
//   padding-top: 0;
// }

.tkot-section {
  padding: $tkot-padding-top 0 0;
}

/* --- News Feed Carousel --- */
.news-feed-carousel {
  .carousel-category {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    text-shadow: none;
  }
  .news-feed-sidebar {
    position: absolute;
    top: 2rem;
    right: 0;
  }
  .news-feed-sidebar ul {
    max-height: 300px;
    overflow-y: auto;
    top: 2.1875rem;
  }
  .news-feed-form {
    position: relative;
    bottom: 0;
  }
  .news-feed-sidebar-item {
    border-radius: 0px;
    cursor: pointer;
    list-style-type: none;
    text-align: left;
  }
  .news-feed-sidebar .active {
    background-color: #eee;
  }
}
@media (min-width: 992px) {
  .news-feed-carousel {
    padding-right: 33.3333%;
    .carousel-controls {
      display: none;
    }
  }
}
@media (max-width: 991px) {
  .carousel-category p,
  .news-feed-carousel {
    .news-feed-sidebar,
    .news-feed-form {
      display: none;
    }
  }
}
.cards-row {
  overflow: scroll hidden;
}
.card-block {
  min-height: 225px;
}

.tkot-background-transparent {
  background-color: $tkot-bg-color-transparent;
}

.tkot-background-white {
  background-color: $tkot-bg-color-white;
}

.navbar {
  a.btn,
  a:not(.btn):not(.dropdown-item) {
    color: inherit;
  }
  box-shadow: none;
}

.navbar-nav {
  margin-top: 0px;
}

.nav-item {
  padding: 15px;
}

.btn,
.navbar .navbar-nav > a.btn {
  margin: 0px;
}

.sidebar-collapse .navbar-collapse:before {
  background: transparent; // $tkot-bg-color;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .footer-content {
    padding-left: 100px;
  }

  .copyright {
    margin-left: 50%;
    padding-top: 50px;
  }
}

.footer {
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: $tkot-bg-color;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 50px;
  }

  .footer-logo {
    text-align: center;
  }

  .nav-item {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .footer .copyright {
    text-align: center;
    padding-top: 50px;
  }
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  max-width: 100%;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
}

.volunteer-title {
  margin-top: 100px;
}

.clear-filter {
  &[filter-color='black'] {
    @include linear-gradient(rgba($tkot-secondary-color-black, 0.61), rgba($tkot-secondary-color-black, 0.61));
  }
}

.tkot-background-image-container {
  position: relative;
  .tkot-background-image {
    background: url('../img/tkot/tkot-background-image.png') no-repeat top right;
    background-size: contain;
    height: 100%;
    position: absolute;
    top: -3rem;
    width: 100vw;
    min-height: 2085px;
  }
}

.page-header-image {
  background-color: transparent !important;
  background-position: center center;
  height: $tkot-page-header-50-vh !important;
}

#header-container {
  margin-top: 4rem;
  .h1 {
    font-size: 3rem;
  }
}

#header-container,
.about-image {
  .h5 {
    font-size: 1.3333rem;
  }
}

.page-header {
  min-height: $tkot-page-header-50-vh !important;
  .container {
    padding-bottom: 0;
  }
}

.index-page .page-header {
  min-height: $tkot-page-header-50-vh;
  height: $tkot-page-header-50-vh;
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .page-header-image {
    height: $tkot-page-header-30-vh !important;
  }
  .page-header {
    min-height: $tkot-page-header-30-vh !important;
  }
  .index-page .page-header {
    min-height: $tkot-page-header-30-vh;
    height: $tkot-page-header-30-vh;
  }
}

@media screen and (max-width: 767.98px) {
  // .page-header-image {
  //   height: $tkot-page-header-50-vh !important;
  // }
  .page-header {
    // min-height: $tkot-page-header-50-vh !important;
    .h1 {
      font-size: 1.97rem !important;
    }
  }
  // .index-page .page-header {
  //   min-height: $tkot-page-header-50-vh;
  //   height: $tkot-page-header-50-vh;
  // }
}

#NewsFeed .page-header,
#Project .page-header,
#Event .page-header {
  min-height: inherit;
  .container {
    top: 3rem;
  }
}

.main {
  background: transparent;
}

.iwi-member-image {
  width: 100px;
}

.about-image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  top: 3rem;
}

.tkot-anchor {
  display: block;
  position: relative;
  top: -7rem;
  visibility: hidden;
}

.tkot-primary-blue-bg-color-50-pc {
  background-color: rgba($tkot-primary-blue, 0.5);
}
.tkot-primary-red-bg-color-50-pc {
  background-color: rgba($tkot-primary-red, 0.5);
}
.tkot-secondary-color-grey-bg-color-50-pc {
  background-color: rgba($tkot-secondary-color-grey, 0.5);
}
.tkot-secondary-color-black-bg-color-50-pc {
  background-color: rgba($tkot-secondary-color-black, 0.5);
}
.tkot-secondary-color-black-bg-color-20-pc {
  background-color: rgba($tkot-secondary-color-black, 0.2);
}
.tkot-secondary-color-grey-bg-color-61-pc {
  background-color: rgba($tkot-secondary-color-grey, 0.61);
}
.tkot-secondary-color-black-bg-color-61-pc {
  background-color: rgba($tkot-secondary-color-black, 0.61);
}
.tkot-primary-red-bg-color-80-pc {
  background-color: rgba($tkot-primary-red, 0.8);
}

.navbar-toggler-bar {
  background: $tkot-secondary-color-black !important;
}

.project-image {
  height: 240px;
  width: 100%;
}

.card {
  border: 3px solid $tkot-secondary-color-black;
  border-radius: $border-radius-extreme;
  .card-img-max-height {
    max-height: 174px !important;
  }
  .card-body {
    margin-bottom: 0.5rem;
  }
}

.nav-item .nav-link.active {
  background-color: rgba(lightgrey, 0.8) !important;
}

.nav-item,
.nav-link {
  font-size: 0.75rem !important;
}

.nav-link,
.iwi-member-name {
  font-size: 0.96rem !important;
}

.bg-black {
  background-color: $black-bg;
}

.p {
  font-size: 1.2em;
  font-weight: 300;
}

.box-social-text {
  font-size: 0.8571em;
  padding: 0.5rem;
}

.created-by-logo-image {
  width: 115px;
}

.event-card {
  border: none !important;
  border-radius: 0.25rem !important;
  box-shadow: none !important;
  max-width: 350px !important;
}

.iwi-member-col {
  max-width: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .iwi-member-col {
    max-width: 6.4286rem;
    padding: inherit;
  }
}

#HomeFooter {
  .nav-item {
    padding: 3px 0;
  }
  .nav-link {
    font-size: 0.8571em !important;
    padding: 0;
  }
  form {
    input.form-control {
      border-radius: 0 !important;
      background-color: $tkot-bg-color-white !important;
    }
  }
}
