/*     brand Colors              */
/*      light colors         */
@font-face {
  font-family: 'Roboto Condensed';
  src: url("/static/fonts/RobotoCondensed/RobotoCondensed-Regular.woff2") format("woff2"), url("/static/fonts/RobotoCondensed/RobotoCondensed-Regular.woff") format("woff"), url("/static/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("/static/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("/static/fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("/static/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.tkot-primary-blue-bg-color {
  background-color: #211C5F; }

.tkot-primary-red-bg-color {
  background-color: #A32222; }

.tkot-secondary-color-grey-bg-color {
  background-color: #919396; }

.tkot-secondary-color-black-bg-color {
  background-color: #000000; }

.tkot-primary-blue-color {
  color: #211C5F; }

.tkot-primary-red-color {
  color: #A32222; }

.tkot-secondary-color-grey-color {
  color: #919396; }

.tkot-secondary-color-black-color {
  color: #000000; }

.tkot-section {
  position: relative;
  top: 3rem; }

/* --- News Feed Carousel --- */
.news-feed-carousel .carousel-category {
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  text-shadow: none; }

.news-feed-carousel .news-feed-sidebar {
  position: absolute;
  top: 2rem;
  right: 0; }

.news-feed-carousel .news-feed-sidebar ul {
  max-height: 300px;
  overflow-y: auto;
  top: 2.1875rem; }

.news-feed-carousel .news-feed-form {
  position: relative;
  bottom: 0; }

.news-feed-carousel .news-feed-sidebar-item {
  border-radius: 0px;
  cursor: pointer;
  list-style-type: none;
  text-align: left; }

.news-feed-carousel .news-feed-sidebar .active {
  background-color: #eee; }

@media (min-width: 992px) {
  .news-feed-carousel {
    padding-right: 33.3333%; }
    .news-feed-carousel .carousel-controls {
      display: none; } }

@media (max-width: 991px) {
  .carousel-category p .news-feed-sidebar,
  .carousel-category p .news-feed-form,
  .news-feed-carousel .news-feed-sidebar,
  .news-feed-carousel .news-feed-form {
    display: none; } }

.cards-row {
  overflow: auto hidden; }

.card-block {
  border: none;
  box-shadow: none;
  min-height: 225px; }

.tkot-background-transparent {
  background-color: transparent; }

.tkot-background-white {
  background-color: #FFFFFF; }

.navbar {
  box-shadow: none; }
  .navbar a.btn,
  .navbar a:not(.btn):not(.dropdown-item) {
    color: inherit; }

.navbar-nav {
  margin-top: 0px !important; }

.nav-item {
  padding: 15px; }

.btn,
.navbar .navbar-nav > a.btn {
  margin: 0px; }

.sidebar-collapse .navbar-collapse:before {
  background: transparent;
  opacity: 1; }

@media screen and (min-width: 1024px) {
  .footer-content {
    padding-left: 100px; }
  .copyright {
    margin-left: 50%;
    padding-top: 50px; } }

.footer {
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: #343a40; }

.footer-copyright-container {
  max-height: 95px;
  position: relative;
  top: 3rem; }

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 50px; }
  .footer-logo {
    text-align: center; }
  .nav-item {
    text-align: center; } }

@media screen and (max-width: 991px) {
  .footer-copyright-container {
    max-height: inherit;
    padding: 15px 0; }
  .footer .copyright {
    text-align: center;
    padding-top: 50px; } }

.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.3em;
  max-height: 3.9em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  max-width: 100%; }
  .block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0; }
  .block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white; }

.header-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.3em;
  max-height: 1.3em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  max-width: 100%;
  text-align: center;
  padding: 0 0.5rem; }
  .header-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0; }
  .header-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white; }

.volunteer-title {
  margin-top: 100px; }

.clear-filter[filter-color='black'] {
  background: rgba(0, 0, 0, 0.61);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61));
  /* Standard syntax */ }

.clear-filter[filter-color='blue-alt'] {
  background: rgba(0, 0, 0, 0.2);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(33, 28, 95, 0.61));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(33, 28, 95, 0.61));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(33, 28, 95, 0.61));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(33, 28, 95, 0.61));
  /* Standard syntax */ }

.clear-filter[filter-color='red'] {
  background: rgba(0, 0, 0, 0.2);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(163, 34, 34, 0.61));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(163, 34, 34, 0.61));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(163, 34, 34, 0.61));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(163, 34, 34, 0.61));
  /* Standard syntax */ }

.tkot-background-image-container {
  position: relative; }
  .tkot-background-image-container .tkot-background-image {
    background: url("/static/img/tkot-background-image.webp") no-repeat top right;
    background-size: contain;
    height: 100%;
    position: absolute;
    top: -3rem;
    width: 100vw;
    min-height: 1200px; }

.page-header-image {
  background-color: transparent !important;
  background-position: center center;
  height: 50vh !important; }

#header-container {
  margin-top: 4rem; }
  #header-container .h1 {
    font-size: 3rem; }

#header-container .h5,
.about-image .h5 {
  font-size: 1.3333rem; }

.page-header {
  min-height: 50vh !important; }
  .page-header .container {
    padding-bottom: 0; }

.index-page .page-header {
  min-height: 50vh;
  height: 50vh; }

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .page-header-image {
    height: 30vh !important; }
  .page-header {
    min-height: 30vh !important; }
  .index-page .page-header {
    min-height: 30vh;
    height: 30vh; } }

@media screen and (max-width: 767.98px) {
  .page-header .h1 {
    font-size: 1.97rem !important; }
  #HomeFooter .nav-item {
    padding: 4px 0 !important; } }

#NewsFeed .page-header,
#Project .page-header,
#Event .page-header {
  min-height: inherit; }
  #NewsFeed .page-header .container,
  #Project .page-header .container,
  #Event .page-header .container {
    top: 3rem; }

.main {
  background: transparent; }

.iwi-member-image {
  width: 120px;
  height: auto;
  min-height: 120px; }

.about-image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative; }

.tkot-anchor {
  display: block;
  position: relative;
  top: -7rem;
  visibility: hidden; }

.tkot-primary-blue-bg-color-50-pc {
  background-color: rgba(33, 28, 95, 0.5); }

.tkot-primary-red-bg-color-50-pc {
  background-color: rgba(163, 34, 34, 0.5); }

.tkot-secondary-color-grey-bg-color-50-pc {
  background-color: rgba(145, 147, 150, 0.5); }

.tkot-secondary-color-black-bg-color-50-pc {
  background-color: rgba(0, 0, 0, 0.5); }

.tkot-secondary-color-black-bg-color-20-pc {
  background-color: rgba(0, 0, 0, 0.2); }

.tkot-secondary-color-grey-bg-color-61-pc {
  background-color: rgba(145, 147, 150, 0.61); }

.tkot-secondary-color-black-bg-color-61-pc {
  background-color: rgba(0, 0, 0, 0.61); }

.tkot-primary-red-bg-color-80-pc {
  background-color: rgba(163, 34, 34, 0.8); }

.navbar-toggler-bar {
  background: #000000 !important; }

.project-image {
  height: 240px;
  width: 100%; }

.card {
  border: 3px solid #000000;
  border-radius: 0.875rem; }
  .card .card-img-max-height {
    height: 174px !important;
    width: 100%; }
  .card .card-body {
    margin-bottom: 0.5rem; }

@media screen and (max-width: 767.98px) {
  .card.news-feed-card .card-img-max-height {
    height: 167px !important;
    width: auto; }
  .card.resource-card .card-img-max-height {
    height: 150px !important;
    width: auto; } }

.nav-item .nav-link.active,
.nav-item .nav-link:active,
.nav-item .dropdown-item.active,
.nav-item .dropdown-item:active {
  background-color: rgba(211, 211, 211, 0.8) !important; }

.nav-item {
  font-size: 0.75rem !important; }

.nav-link,
.iwi-member-name {
  font-size: 0.96rem !important;
  white-space: nowrap; }

.iwi-member-name {
  white-space: inherit !important; }

.footer-content .dropdown-toggle.nav-link {
  font-size: 0.75rem !important;
  margin: 0.45rem 1.15rem; }

.bg-black {
  background-color: rgba(30, 30, 30, 0.97); }

.p {
  font-size: 1.2em;
  font-weight: 300; }

.box-social-text {
  font-size: 0.75rem !important;
  padding: 0.5rem !important;
  width: 100%; }

.created-by-logo-image {
  width: 95px; }

.event-card,
.news-feed-card,
.iwi-chair-card,
.resource-card,
.economicDevelopment-card {
  border: none !important;
  border-radius: 0.25rem !important; }

.event-card {
  box-shadow: none !important;
  max-width: 350px !important; }

.iwi-chair-card .card-header {
  min-height: 4.0625rem; }

.iwi-chair-card .card-iwi-member-name {
  min-height: 3.75rem; }

.iwi-chair-card .block-with-text {
  min-height: 4.0625rem; }

.iwi-member-col {
  max-width: 0;
  padding: 0; }

@media screen and (min-width: 1024px) {
  .iwi-member-col {
    max-width: 6.4286rem;
    padding: inherit; } }

#HomeFooter .nav-item {
  padding: 4px 0; }
  #HomeFooter .nav-item.left {
    padding-left: 1rem; }
  #HomeFooter .nav-item.right {
    padding-right: 1rem; }

#HomeFooter .nav-link {
  padding: 0; }

#HomeFooter form input.form-control {
  border-radius: 0 !important;
  background-color: #FFFFFF !important; }

.iwi-chair-image {
  height: 250px;
  width: 250px; }

#HomeNavbar .n-logo {
  max-width: 32px; }

.hero-image-tkot-logo,
.footer-tkot-logo {
  height: auto;
  width: 100%; }

.hero-image-tkot-logo {
  max-width: 419px; }

.footer-tkot-logo {
  max-width: 289px; }

.iwi-chairs-carousel .carousel-inner {
  box-shadow: none;
  padding-left: 15px;
  padding-right: 15px; }

.iwi-chairs-carousel .carousel-control-prev:hover,
.iwi-chairs-carousel .carousel-control-next:hover {
  background: rgba(255, 255, 255, 0.5); }

.iwi-chairs-carousel .carousel-control-prev-icon,
.iwi-chairs-carousel .carousel-control-next-icon {
  height: 70px;
  width: 70px;
  outline: black;
  background-size: 100%, 100%;
  background-color: #919396;
  border-radius: 50%;
  border: 1px dotted #919396;
  background-image: none; }

.iwi-chairs-carousel .carousel-control-prev-icon:hover,
.iwi-chairs-carousel .carousel-control-next-icon:hover {
  background-color: #919396; }

.iwi-chairs-carousel .carousel-control-next-icon:after,
.iwi-chairs-carousel .carousel-control-prev-icon:after {
  font-size: 42px;
  font-weight: bolder;
  color: #FFFFFF; }

.iwi-chairs-carousel .carousel-control-next-icon:after {
  content: '>'; }

.iwi-chairs-carousel .carousel-control-prev-icon:after {
  content: '<'; }

.iwi-chairs-carousel .carousel-control-next-icon:hover:after,
.iwi-chairs-carousel .carousel-control-prev-icon:hover:after {
  color: #FFFFFF; }

.clickable {
  cursor: pointer; }

.videoHeader {
  width: 100%;
  overflow: hidden; }
  .videoHeader video {
    width: 100%; }

.tkot-logo {
  background: url("/static/img/tkot-logo-only-black.webp") no-repeat;
  min-height: 64px;
  min-width: 32px; }

.home-footer-container {
  position: relative;
  top: 3rem; }

.fb-feed-iframe {
  height: 400px;
  width: 100%; }

.global-404-image {
  max-width: 180px;
  width: 100%; }

.page-about-description-div {
  min-height: 10.938rem; }

.iwi-members-row {
  min-height: 33.75rem; }

.blurred-text {
  filter: blur(3px);
  -webkit-filter: blur(3px); }

/*# sourceMappingURL=tkot.css.map */