/*     brand Colors              */
/*      light colors         */
@font-face {
  font-family: 'Roboto Condensed';
  src: url("../../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf"), url("../../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/OpenSans/OpenSans-Regular.ttf"), url("../../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.tkot-primary-blue-bg-color {
  background-color: #211C5F; }

.tkot-primary-red-bg-color {
  background-color: #A32222; }

.tkot-secondary-color-grey-bg-color {
  background-color: #919396; }

.tkot-secondary-color-black-bg-color {
  background-color: #000000; }

.tkot-primary-blue-color {
  color: #211C5F; }

.tkot-primary-red-color {
  color: #A32222; }

.tkot-secondary-color-grey-color {
  color: #919396; }

.tkot-secondary-color-black-color {
  color: #000000; }

.tkot-section:first-child {
  padding-top: 0; }

.tkot-section {
  padding: 3rem 0 0; }

.tkot-section:last-child {
  padding-bottom: 3rem; }

/* --- News Feed Carousel --- */
.news-feed-carousel .carousel-category {
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  text-shadow: none; }

.news-feed-carousel .news-feed-sidebar {
  position: absolute;
  top: 2rem;
  right: 0; }

.news-feed-carousel .news-feed-sidebar ul {
  max-height: 300px;
  overflow-y: auto;
  top: 2.1875rem; }

.news-feed-carousel .news-feed-form {
  position: relative;
  bottom: 0; }

.news-feed-carousel .news-feed-sidebar-item {
  border-radius: 0px;
  cursor: pointer;
  list-style-type: none;
  text-align: left; }

.news-feed-carousel .news-feed-sidebar .active {
  background-color: #eee; }

@media (min-width: 992px) {
  .news-feed-carousel {
    padding-right: 33.3333%; }
    .news-feed-carousel .carousel-controls {
      display: none; } }

@media (max-width: 991px) {
  .carousel-category p .news-feed-sidebar,
  .carousel-category p .news-feed-form,
  .news-feed-carousel .news-feed-sidebar,
  .news-feed-carousel .news-feed-form {
    display: none; } }

.cards-row {
  overflow: scroll hidden; }

.card-block {
  min-height: 225px; }

#header-container {
  margin-top: 3rem; }

.tkot-background-transparent {
  background-color: transparent; }

.tkot-background-white {
  background-color: #FFFFFF; }

.navbar {
  box-shadow: none; }
  .navbar a.btn,
  .navbar a:not(.btn):not(.dropdown-item) {
    color: inherit; }

.navbar-nav {
  margin-top: 0px; }

.nav-item {
  padding: 15px; }

.btn,
.navbar .navbar-nav > a.btn {
  margin: 0px; }

.sidebar-collapse .navbar-collapse:before {
  background: transparent;
  opacity: 1; }

@media screen and (min-width: 1024px) {
  .footer-content {
    padding-left: 100px; }
  .copyright {
    margin-left: 50%;
    padding-top: 50px; } }

.footer {
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: #211C5F; }

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 50px; }
  .footer-logo {
    text-align: center; }
  .nav-item {
    text-align: center; } }

@media screen and (max-width: 991px) {
  .footer .copyright {
    text-align: center;
    padding-top: 50px; } }

.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  max-width: 100%; }
  .block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0; }
  .block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white; }

.volunteer-title {
  margin-top: 100px; }

.tkot-background-image {
  background: url("../img/tkot/tkot-background-image.png") no-repeat top right;
  -webkit-background-size: 50% 3000px;
  -moz-background-size: 50% 3000px;
  -o-background-size: 50% 3000px;
  background-size: 50% 3000px;
  height: 100%; }

.page-header-image {
  background-color: transparent !important;
  height: 70vh !important;
  opacity: 0.2; }

.page-header .container {
  padding-bottom: 0; }

.index-page .page-header {
  min-height: 70vh;
  height: 70vh; }

#NewsFeed .page-header,
#Project .page-header,
#Event .page-header {
  min-height: inherit; }

.main {
  background: transparent; }

.iwi-member-image {
  width: 100px; }

.about-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 256px;
  opacity: 0.2; }

.tkot-anchor {
  display: block;
  position: relative;
  top: -7rem;
  visibility: hidden; }

.tkot-primary-blue-bg-color-50-pc {
  background-color: rgba(33, 28, 95, 0.5); }

.navbar-toggler-bar {
  background: #000000 !important; }

.project-image {
  height: 240px;
  width: 100%; }

.card {
  border: 3px solid #211C5F;
  border-radius: 0.875rem; }
  .card .card-img-max-height {
    max-height: 174px !important; }
  .card .card-body {
    margin-bottom: 0.5rem; }

/*# sourceMappingURL=tkot.css.map */