@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans/OpenSans-Regular.ttf'),
       url('../../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
