@font-face {
  font-family: 'Roboto Condensed';
  src: url('/static/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf'),
       url('/static/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
