@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf'),
       url('../../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
