.footer{
    padding-top: 150px;
    padding-bottom: 100px;
    background: #171b5d;
    color: white;

    &.footer-default{
        background-color: #f2f2f2;
    }

    nav{
        display: inline-block;
        float: left;
    }

    ul{
        margin-bottom: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;

            a{
                color: inherit;
                padding: $padding-base-vertical;
                font-size: $font-size-small;
                text-transform: uppercase;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .copyright{
        font-size: $font-size-small;
        margin-left: 50%;
    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }
}

.footer-logo {
    margin-left: 100px;
}

@media screen and (max-width: 768px){
    .footer-logo {
        text-align: center;
    }

    .nav-item {
        text-align: center;
    }
}

