/*     brand Colors              */
/*      light colors         */
@font-face {
  font-family: 'Roboto Condensed';
  src: url("../../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf"), url("../../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/OpenSans/OpenSans-Regular.ttf"), url("../../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.clear-filter:after, .clear-filter:before {
  display: none; }

.clear-filter[filter-color='orange'] {
  background: rgba(44, 44, 44, 0.2);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
  /* Standard syntax */ }

.clear-filter[filter-color='blue'] {
  background: rgba(44, 44, 44, 0.2);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(3, 161, 224, 0.6));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(3, 161, 224, 0.6));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(3, 161, 224, 0.6));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(3, 161, 224, 0.6));
  /* Standard syntax */ }

.bg-panel {
  background-color: rgba(44, 44, 44, 0.8); }

.login-view .page-header:before,
.register-view .page-header:before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.5); }

.login-view .card-login,
.register-view .card-login {
  border-radius: 0.25rem;
  padding-bottom: 0.7rem;
  max-width: 320px; }
  .login-view .card-login .btn-wd,
  .register-view .card-login .btn-wd {
    min-width: 180px; }
  .login-view .card-login .logo-container,
  .register-view .card-login .logo-container {
    width: 65px;
    margin: 0 auto;
    margin-bottom: 55px; }
    .login-view .card-login .logo-container img,
    .register-view .card-login .logo-container img {
      width: 100%; }
  .login-view .card-login.card-plain .form-control::-moz-placeholder,
  .register-view .card-login.card-plain .form-control::-moz-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100); }
  .login-view .card-login.card-plain .form-control:-moz-placeholder,
  .register-view .card-login.card-plain .form-control:-moz-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100); }
  .login-view .card-login.card-plain .form-control::-webkit-input-placeholder,
  .register-view .card-login.card-plain .form-control::-webkit-input-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100); }
  .login-view .card-login.card-plain .form-control:-ms-input-placeholder,
  .register-view .card-login.card-plain .form-control:-ms-input-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100); }
  .login-view .card-login.card-plain .form-control,
  .register-view .card-login.card-plain .form-control {
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF; }
    .login-view .card-login.card-plain .form-control:focus,
    .register-view .card-login.card-plain .form-control:focus {
      border-color: #FFFFFF;
      background-color: transparent;
      color: #FFFFFF; }
  .login-view .card-login.card-plain .has-success:after,
  .login-view .card-login.card-plain .has-danger:after,
  .register-view .card-login.card-plain .has-success:after,
  .register-view .card-login.card-plain .has-danger:after {
    color: #FFFFFF; }
  .login-view .card-login.card-plain .has-danger .form-control,
  .register-view .card-login.card-plain .has-danger .form-control {
    background-color: transparent; }
  .login-view .card-login.card-plain .input-group-prepend .input-group-text,
  .login-view .card-login.card-plain .input-group-append .input-group-text,
  .register-view .card-login.card-plain .input-group-prepend .input-group-text,
  .register-view .card-login.card-plain .input-group-append .input-group-text {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF; }
  .login-view .card-login.card-plain .input-group-focus .input-group-prepend .input-group-text,
  .login-view .card-login.card-plain .input-group-focus .input-group-append .input-group-text,
  .register-view .card-login.card-plain .input-group-focus .input-group-prepend .input-group-text,
  .register-view .card-login.card-plain .input-group-focus .input-group-append .input-group-text {
    background-color: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF; }
  .login-view .card-login.card-plain .form-group.no-border .form-control,
  .login-view .card-login.card-plain .input-group.no-border .form-control,
  .register-view .card-login.card-plain .form-group.no-border .form-control,
  .register-view .card-login.card-plain .input-group.no-border .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF; }
    .login-view .card-login.card-plain .form-group.no-border .form-control:focus, .login-view .card-login.card-plain .form-group.no-border .form-control:active, .login-view .card-login.card-plain .form-group.no-border .form-control:active,
    .login-view .card-login.card-plain .input-group.no-border .form-control:focus,
    .login-view .card-login.card-plain .input-group.no-border .form-control:active,
    .login-view .card-login.card-plain .input-group.no-border .form-control:active,
    .register-view .card-login.card-plain .form-group.no-border .form-control:focus,
    .register-view .card-login.card-plain .form-group.no-border .form-control:active,
    .register-view .card-login.card-plain .form-group.no-border .form-control:active,
    .register-view .card-login.card-plain .input-group.no-border .form-control:focus,
    .register-view .card-login.card-plain .input-group.no-border .form-control:active,
    .register-view .card-login.card-plain .input-group.no-border .form-control:active {
      background-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF; }
  .login-view .card-login.card-plain .form-group.no-border .form-control + .input-group-prepend .input-group-text,
  .login-view .card-login.card-plain .form-group.no-border .form-control + .input-group-append .input-group-text,
  .login-view .card-login.card-plain .input-group.no-border .form-control + .input-group-prepend .input-group-text,
  .login-view .card-login.card-plain .input-group.no-border .form-control + .input-group-append .input-group-text,
  .register-view .card-login.card-plain .form-group.no-border .form-control + .input-group-prepend .input-group-text,
  .register-view .card-login.card-plain .form-group.no-border .form-control + .input-group-append .input-group-text,
  .register-view .card-login.card-plain .input-group.no-border .form-control + .input-group-prepend .input-group-text,
  .register-view .card-login.card-plain .input-group.no-border .form-control + .input-group-append .input-group-text {
    background-color: rgba(255, 255, 255, 0.1); }
    .login-view .card-login.card-plain .form-group.no-border .form-control + .input-group-prepend .input-group-text:focus, .login-view .card-login.card-plain .form-group.no-border .form-control + .input-group-prepend .input-group-text:active, .login-view .card-login.card-plain .form-group.no-border .form-control + .input-group-prepend .input-group-text:active,
    .login-view .card-login.card-plain .form-group.no-border .form-control + .input-group-append .input-group-text:focus,
    .login-view .card-login.card-plain .form-group.no-border .form-control + .input-group-append .input-group-text:active,
    .login-view .card-login.card-plain .form-group.no-border .form-control + .input-group-append .input-group-text:active,
    .login-view .card-login.card-plain .input-group.no-border .form-control + .input-group-prepend .input-group-text:focus,
    .login-view .card-login.card-plain .input-group.no-border .form-control + .input-group-prepend .input-group-text:active,
    .login-view .card-login.card-plain .input-group.no-border .form-control + .input-group-prepend .input-group-text:active,
    .login-view .card-login.card-plain .input-group.no-border .form-control + .input-group-append .input-group-text:focus,
    .login-view .card-login.card-plain .input-group.no-border .form-control + .input-group-append .input-group-text:active,
    .login-view .card-login.card-plain .input-group.no-border .form-control + .input-group-append .input-group-text:active,
    .register-view .card-login.card-plain .form-group.no-border .form-control + .input-group-prepend .input-group-text:focus,
    .register-view .card-login.card-plain .form-group.no-border .form-control + .input-group-prepend .input-group-text:active,
    .register-view .card-login.card-plain .form-group.no-border .form-control + .input-group-prepend .input-group-text:active,
    .register-view .card-login.card-plain .form-group.no-border .form-control + .input-group-append .input-group-text:focus,
    .register-view .card-login.card-plain .form-group.no-border .form-control + .input-group-append .input-group-text:active,
    .register-view .card-login.card-plain .form-group.no-border .form-control + .input-group-append .input-group-text:active,
    .register-view .card-login.card-plain .input-group.no-border .form-control + .input-group-prepend .input-group-text:focus,
    .register-view .card-login.card-plain .input-group.no-border .form-control + .input-group-prepend .input-group-text:active,
    .register-view .card-login.card-plain .input-group.no-border .form-control + .input-group-prepend .input-group-text:active,
    .register-view .card-login.card-plain .input-group.no-border .form-control + .input-group-append .input-group-text:focus,
    .register-view .card-login.card-plain .input-group.no-border .form-control + .input-group-append .input-group-text:active,
    .register-view .card-login.card-plain .input-group.no-border .form-control + .input-group-append .input-group-text:active {
      background-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF; }
  .login-view .card-login.card-plain .form-group.no-border .form-control:focus + .input-group-prepend .input-group-text,
  .login-view .card-login.card-plain .form-group.no-border .form-control:focus + .input-group-append .input-group-text,
  .login-view .card-login.card-plain .input-group.no-border .form-control:focus + .input-group-prepend .input-group-text,
  .login-view .card-login.card-plain .input-group.no-border .form-control:focus + .input-group-append .input-group-text,
  .register-view .card-login.card-plain .form-group.no-border .form-control:focus + .input-group-prepend .input-group-text,
  .register-view .card-login.card-plain .form-group.no-border .form-control:focus + .input-group-append .input-group-text,
  .register-view .card-login.card-plain .input-group.no-border .form-control:focus + .input-group-prepend .input-group-text,
  .register-view .card-login.card-plain .input-group.no-border .form-control:focus + .input-group-append .input-group-text {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF; }
  .login-view .card-login.card-plain .form-group.no-border .input-group-prepend .input-group-text,
  .login-view .card-login.card-plain .form-group.no-border .input-group-append .input-group-text,
  .login-view .card-login.card-plain .input-group.no-border .input-group-prepend .input-group-text,
  .login-view .card-login.card-plain .input-group.no-border .input-group-append .input-group-text,
  .register-view .card-login.card-plain .form-group.no-border .input-group-prepend .input-group-text,
  .register-view .card-login.card-plain .form-group.no-border .input-group-append .input-group-text,
  .register-view .card-login.card-plain .input-group.no-border .input-group-prepend .input-group-text,
  .register-view .card-login.card-plain .input-group.no-border .input-group-append .input-group-text {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #FFFFFF; }
  .login-view .card-login.card-plain .form-group.no-border.input-group-focus .input-group-prepend .input-group-text,
  .login-view .card-login.card-plain .form-group.no-border.input-group-focus .input-group-append .input-group-text,
  .login-view .card-login.card-plain .input-group.no-border.input-group-focus .input-group-prepend .input-group-text,
  .login-view .card-login.card-plain .input-group.no-border.input-group-focus .input-group-append .input-group-text,
  .register-view .card-login.card-plain .form-group.no-border.input-group-focus .input-group-prepend .input-group-text,
  .register-view .card-login.card-plain .form-group.no-border.input-group-focus .input-group-append .input-group-text,
  .register-view .card-login.card-plain .input-group.no-border.input-group-focus .input-group-prepend .input-group-text,
  .register-view .card-login.card-plain .input-group.no-border.input-group-focus .input-group-append .input-group-text {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF; }
  .login-view .card-login.card-plain .input-group-text,
  .login-view .card-login.card-plain .form-group.no-border .input-group-text,
  .login-view .card-login.card-plain .input-group.no-border .input-group-text,
  .register-view .card-login.card-plain .input-group-text,
  .register-view .card-login.card-plain .form-group.no-border .input-group-text,
  .register-view .card-login.card-plain .input-group.no-border .input-group-text {
    color: rgba(255, 255, 255, 0.8); }

.login-view .link,
.register-view .link {
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none; }

.sidebar[data-color='tkot']:after {
  background: #211C5F; }

.sidebar[data-color='tkot'] .nav li.active > a:not([data-toggle="collapse"]) {
  color: #211C5F; }
  .sidebar[data-color='tkot'] .nav li.active > a:not([data-toggle="collapse"]) i {
    color: #211C5F; }

.sidebar .logo {
  padding: 1.15rem 0.7rem; }

.sidebar .bg-image {
  background-image: url(../img/tkot/Te-Takarangi-hero-2.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  position: absolute;
  background-size: cover;
  background-position: center center; }

.sidebar .bg-image::after {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: 0.8;
  z-index: 3;
  position: absolute;
  background: #000; }

.sidebar::after {
  opacity: 0.5; }

.panel-header-xs {
  height: 0;
  padding-top: 4.25rem; }

.table > thead > tr > th {
  font-size: 1em;
  padding: 0; }

.table .clickable,
.table > thead > tr > th.sort-column {
  cursor: pointer; }

.clickable {
  cursor: pointer; }

:disabled,
[disabled],
.disabled {
  cursor: not-allowed !important; }

.user-roles .custom-control-label {
  padding-top: 0.18rem; }

.onboard-form input {
  opacity: 1;
  position: relative; }

.fullscreen-background-image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  z-index: -99999; }

.text-aqua {
  color: aqua; }

/*# sourceMappingURL=tkot.css.map */